@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.outer {
    border: 1px solid red;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    scroll-behavior: smooth !important;
}

* {
    font-family: "Play", sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    width: 10px;
    background-color: #dff9fb;
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(255, 97, 34);
}

.back-to-top-outer {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 97, 34);
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #535c68;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top-outer a {
    width: 50px;
    height: 50px;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    text-decoration: none;
}

.fa-solid {
    font-size: 20px;
    color: white;
}

/*header area*/
.header-outer {
    position: sticky;
    top: 0;
}

.nav-item a {
    color: black;
    font-weight: bold;
}

.nav-item a:hover {
    text-decoration: none;
    background-color: rgb(255, 97, 34);

    border-radius: 5px;
}

.navbar-brand img {
    height: 50px;
}

/*header area*/

/*home area*/
.home-outer {
    width: 100%;
    height: 90vh;
    background-image: url("https://img.freepik.com/free-photo/online-school-equipment-home_23-2149041143.jpg?t=st=1718257459~exp=1718261059~hmac=5f159eb4070e1442b2054d85489177734a47696587501530974db60cafddc368&w=740");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-header-5 {
    color: white;
}

.home-header-1 {
    color: white;
    font-weight: 500;
    line-height: 40px;
}

.home-widget-outer{
    margin-top: -120px;
}

.widget-outer{
    height: 300px;
    margin-bottom: 20px;
}

.widget-inner{
    border: 1px solid #576574;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.widget-inner-top{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-inner-bottom{
    flex: 1;
}

.widget-icon{
    height: 80px;
    width: 80px;
    background-color: rgb(255,97,34);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-icon svg{
    width: 80%;
    height: 80%;
}

.widget-header{
    text-align: center;
}

.widget-description{
    text-align: center;
}

/*home area*/

/*service area*/

.service-outer{
    min-height: 750px;
    width: 100%;
    background-image: url("https://images02.nicepage.com/c461c07a441a5d220e8feb1a/24af2a14af16514caf47360a/33581d05cec4a3308cd79979a51eed9d.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.service-container{
    min-height: 750px;
}

.row{
    height: 100%;
}

.service-container-inner{
    height: 100%;
}

.service-right-side{
    min-height: 750px;
    display: flex;
    align-items: center;
}

.right-top{
    background-color: white;
    height: 350px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-top:last-child{
    margin-bottom: 0;
}

.service-top-title{
    color: rgb(255,97,34);
}

.service-top-desc{
    margin-top: 20px;
}

.service-grid-outer{
    width: 100%;
    height: auto;
}

.service-grid-inner{
    height: 300px;
    margin-bottom: 10px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-1{
    background-image: url("https://images01.nicepage.com/2c/36/2c363cea606f515e74b1e427f2b437c0.jpeg");
    background-size: cover;
    background-position: center;
}

.grid-3{
    background-image: url("https://images01.nicepage.com/9b/3f/9b3fb50d7f1060045a2fb67bc06f4802.jpeg");
    background-size: cover;
    background-position: center;
}

.link , .service-grid-title{
    color: rgb(255,97,34);
}
.service-grid-header{
    color: white;
}
.desc-service-grid{
    color: #bdc3c7;
}
/*service area*/

/*product area*/

/*product area*/
